@import 'reset';
@import 'colors';

body {
    background-color: #EBEFF3;
    font-family: 'FiraGO', sans-serif;
}

.clearfix {
    clear: both;
    display: table;
    height: 1px;
}

input, button {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}

.container {
    max-width: 96%;
    width: 1080px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    .logo {

        img {
            height: 73px;
        }
    }

    .visible-xs {
        display: none;
        cursor: pointer;
    }

    #nav-icon {
        width: 40px;
        height: 35px;
        position: relative;
        margin-top: 5px;
        z-index: 9999999;
        float: right;

        .nav-span {
            display: block;
            position: absolute;
            height: 5px;
            background: $iconColor;
            border-radius: 9px;
            opacity: 1;
            right: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        .nav-span:nth-child(1) {
            top: 0;
            width: 40%;
        }

        .nav-span:nth-child(2) {
            top: 10px;
            width: 60%;
        }

        .nav-span:nth-child(3) {
            top: 20px;
            width: 100%;
        }

        &.open {
            .nav-span:nth-child(1) {
                top: 10px;
                transform: rotate(135deg);
                width: 100%;
            }
    
            .nav-span:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
    
            .nav-span:nth-child(3) {
                top: 10px;
                transform: rotate(-135deg);
            }
        }
    }

    .nav {

        ul {
            float: left;

            li {
                float: left;
                padding-right: 15px;
                margin-right: 35px;
                border-right: 2px solid $iconColor;

                a {
                    text-decoration: none;
                    color: $textColor;
                    font-size: 16px;
                    font-weight: 700;
                }

                &:last-child {
                    padding: 0;
                    border: none;
                }

                img {
                    float: right;
                    margin-top: -6px;
                    margin-left: 20px;
                    height: 30px;
                }
            }
        }

        button {
            color: $iconColor;
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 700;
            margin-left: 52px;

            svg {
                margin-left: 10px;
                float: right;
                margin-top: -4px;
                height: 22px;
            }
        }

        &.active {
            left: 0;

            ul {
                top: 100px;
                position: absolute;
                left: auto;
                right: auto;
                width: 100%;
            }

            button {
                position: absolute;
                left: auto;
                right: auto;
                top: 40px;
                width: 100%;
            }
        }
    }

    .footer-nav {
        display: none;
    }

    .footer-nav {
        &.active {
            display: block;
            position: absolute;
            top: 285px;
            left: auto;
            right: auto;
            width: 100%;
            z-index: 123;

            ul {
                li {
                    margin: 10px 0;
                    float: left;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


.main-container {
    width: 100%;
    margin-top: 50px;
    background-image: url(assets/background.png);
    background-size: cover;
    height: 543px;

    .main-txt {
        text-align: center;

        h2 {
            color: $textColor;
            font-size: 23px;
            font-weight: 100;

            .title-span {
                font-weight: 700;
            }
        }
    }

    .search {
        margin-top: 130px;
        margin-bottom: 76px;
    }

    .between {
        height: 40px;
        width: 1px;
        background-color: #99A9B8;
        margin-top: auto;
        margin-bottom: auto;
    }

    .field {
        position: relative;

        label {
            position: absolute;
            top: -26px;
            color: #333B43;
            font-weight: bold;
            font-size: 15px;
            left: 20px;
        }

        input {
            width: calc(100% - 40px);
            height: 39px;
            margin-top: 5px;
            margin-left: 40px;    
            border-right: 1px solid #99A9B8;
            font-size: 17px;
            color: #333B43;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #99A9B8;
                font-size: 17px;
                opacity: 1; /* Firefox */
              }
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
               color: #99A9B8;
               font-size: 17px;
              }
              ::-ms-input-placeholder { /* Microsoft Edge */
               color: #99A9B8;
               font-size: 17px;
            }
        }

        select {
            height: 100%;
            border: none;
            width: 100%;
            font-size: 17px;
            padding-left: 16px;
            color: #99A9B8;
        }

        .from-to {
            color: #0059A7;
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            left: 20px;
            top: 14.5px;
        }

        img {
            position: absolute;
            right: 25px;
            top: 13px;
        }

        .truck-icon {
            right: 58px;
            top: 15px;
        
        }    
        
        .date {
            border: none;
            margin-left: 18px;
        }

        .select2-container--default .select2-selection--single {
            border: none;
            background-color: transparent;
            height: 49px;

            .select2-selection__rendered {
                color: #99A9B8;
                font-size: 17px;
                padding-left: 45px;
                line-height: 49px;
            }

            .select2-selection__arrow {
                border: none;
                background-image: url('assets/arrow icon1.png');
                background-size: contain;
                background-position: center center;
                width: 12px;
                height: 9px;
                top: 20px;
                right: 15px;

                b {
                    display: none;
                }
            }
        }

        h3 {
            padding-left: 20px;
            line-height: 49px;
            font-size: 17px;
        }

        .destination {
            h3 {
                text-align: center;
            }
        }

    }

    .responsive {
        display: flex;
        width: 66%;
    }

    .w-33 {
        width: 33%;
    } 

    .w-50 {
        width: 50%;

        .weight {
            margin-left: 18px;
        }
    }

    .w-40 {
        width: 40%;
    }

    .input-container { 
        display: flex;
        width: 100%; 
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 10px #0059A761;
        border-radius: 17px;
        height: 49px;
    }

    .ui-selectmenu-button.ui-button  {
        background-color: transparent;
        border: none;
        position: absolute;
        padding: 0;
        padding-left: 20px;
        font-size: 17px;
        width: calc(100% - 20px);
        padding-top: 15px;
        height: calc(100% - 13.5px);
        color: #99A9B8;
    }

    .ui-button .ui-icon {
        background-image: url('assets/arrow icon1.png');
        background-size: contain;
        background-position: center center;
        width: 12px;
        height: 9px;
        top: 6px;
        right: 15px;
    }

    .truck {
        .ui-button .ui-icon {
            right: 8px;
        }
    }

    button {
        color: #FFFFFF;
        font-size: 26px;
        border-radius: 16px;
        background: #0059A7 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 20px #0059a770;
        padding: 5px 67px 10px 67px;
        display: block;
        margin: 0 auto;
    }

}

.result {
    text-align: center;
    margin: 20px;
    color: #424272;
    font-size: 20px;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 12;
    text-align: center;
    line-height: 100vh;
}

.ui-menu {
    border: none;

    .ui-menu-item {
        background-color: #FFFFFF;
        border-bottom: 0.5px solid #0059A7;
        height: 49px;
    }

    .ui-menu-item-wrapper {
        height: 100%;
        line-height: 49px;
        padding: 0;
    }
}

.ui-widget.ui-widget-content {
    border: none;
    background-color: #fff;
}

.select2-container--open .select2-dropdown--below {
    border: none;
    border-radius: 0 0 17px 17px;
}



// Footer
footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

    .each-footer {
        display: inline-block;
        margin: 0 20px;
        
        svg {
            float: left;
            margin-right: 8px;
            height: 25px;
        }

        p {
            color: $textColor;
            font-size: 11px;
            font-weight: 100;
            float: left;
            line-height: 25px;
        }
    }

    .each-footer:first-child {
        margin-left: 0;
    }

    .each-footer:last-child {
        margin-right: 0;
    }
}


//land page
.land-info {
    display: flex;
    justify-content: space-around;
}

.day {
    background-color: #0059A7;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    position: absolute;
    border-radius: 0px 0px 17px 17px;
    left: calc(50% - 43.5px);
}

// Media
@media screen and (max-width: 992px) {

    header {
        .logo {
            img {
                height: 40px;
            }
        }

        .visible-xs {
            display: block;
        }

        .nav {
            position: fixed;
            left: -100%;
            overflow: hidden;
            bottom: 0;
            background: #0059A7;
            height: calc(100vh - 100px);
            z-index: 123;
            width: 100vw;
            transition: all 0.3s ease;
            border-radius: 50px 50px 0 0;

            ul {
                float: none;
                margin: 50px 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    float: none;
                    display: block;
                    margin: 10px;
                    border: 0;
                    
                    a {
                        color: #fff;
                    }

                    a:last-child {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                    }

                    img {
                        float: none;
                        margin: 0;
                        margin-bottom: 10px;
                        height: 30px;
                        width: 30px;
                    }
                }

            }

            button {
                margin-left: 20px;
                color: #fff;
            }
        }
    }

    .main-container {
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;

        .search {
            margin-top: 75px;
        }

        .input-container {
            display: block;
            background-color: transparent;
            box-shadow: none;
            height: auto;
        }

        .land-info {
            display: flex;
            flex-direction: column;
        }

        .destination {
            display: flex;
        }

        .w-40 {
            width: 100%;

            .input-container {
                display: flex;

                .field:nth-child(1) {
                    border-radius: 17px 0 0 17px;
                }
                .field:nth-child(3) {
                    border-radius: 0 17px 17px 0;
                }
            }
        }

        .w-33, .w-50{
            width: 100%;
            display: block !important;
        }

        .field {
            margin: 40px 0;
            background-color: #FFFFFF;
            border-radius: 17px;
            width: 100%;
            box-shadow: 0px 3px 10px #0059A761;

            input {
                border: none;
                width: calc(100% - 60px);
            }
        }

        .ui-selectmenu-button.ui-button {
            background-color: #fff;
            border-radius: 17px;
            position: unset;
            height: 28px;
        }

        .calendar {
            width: 50%;
        }

        .responsive {
            width: 100%;

            .field {
                margin: 15px 0;
            }

            .field:nth-child(1) {
                border-radius: 17px 0 0 17px;
            }

            .field:nth-child(3) {
                border-radius: 0 17px 17px 0;
            }
        }
    }
    

    footer {
        display: none;
        text-align: left;

        .each-footer {
            display: block;
            margin: 10px 0;

            p {
                float: none;
            }

        }
    }
}