html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #EBEFF3;
  font-family: "FiraGO", sans-serif;
}

.clearfix {
  clear: both;
  display: table;
  height: 1px;
}

input, button {
  outline: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.container {
  max-width: 96%;
  width: 1080px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
header .logo img {
  height: 73px;
}
header .visible-xs {
  display: none;
  cursor: pointer;
}
header #nav-icon {
  width: 40px;
  height: 35px;
  position: relative;
  margin-top: 5px;
  z-index: 9999999;
  float: right;
}
header #nav-icon .nav-span {
  display: block;
  position: absolute;
  height: 5px;
  background: #0059A7;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header #nav-icon .nav-span:nth-child(1) {
  top: 0;
  width: 40%;
}
header #nav-icon .nav-span:nth-child(2) {
  top: 10px;
  width: 60%;
}
header #nav-icon .nav-span:nth-child(3) {
  top: 20px;
  width: 100%;
}
header #nav-icon.open .nav-span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
  width: 100%;
}
header #nav-icon.open .nav-span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header #nav-icon.open .nav-span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}
header .nav ul {
  float: left;
}
header .nav ul li {
  float: left;
  padding-right: 15px;
  margin-right: 35px;
  border-right: 2px solid #0059A7;
}
header .nav ul li a {
  text-decoration: none;
  color: #333B43;
  font-size: 16px;
  font-weight: 700;
}
header .nav ul li:last-child {
  padding: 0;
  border: none;
}
header .nav ul li img {
  float: right;
  margin-top: -6px;
  margin-left: 20px;
  height: 30px;
}
header .nav button {
  color: #0059A7;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  margin-left: 52px;
}
header .nav button svg {
  margin-left: 10px;
  float: right;
  margin-top: -4px;
  height: 22px;
}
header .nav.active {
  left: 0;
}
header .nav.active ul {
  top: 100px;
  position: absolute;
  left: auto;
  right: auto;
  width: 100%;
}
header .nav.active button {
  position: absolute;
  left: auto;
  right: auto;
  top: 40px;
  width: 100%;
}
header .footer-nav {
  display: none;
}
header .footer-nav.active {
  display: block;
  position: absolute;
  top: 285px;
  left: auto;
  right: auto;
  width: 100%;
  z-index: 123;
}
header .footer-nav.active ul li {
  margin: 10px 0;
  float: left;
}
header .footer-nav.active ul li a {
  color: #fff;
  text-decoration: none;
}

.main-container {
  width: 100%;
  margin-top: 50px;
  background-image: url(assets/background.png);
  background-size: cover;
  height: 543px;
}
.main-container .main-txt {
  text-align: center;
}
.main-container .main-txt h2 {
  color: #333B43;
  font-size: 23px;
  font-weight: 100;
}
.main-container .main-txt h2 .title-span {
  font-weight: 700;
}
.main-container .search {
  margin-top: 130px;
  margin-bottom: 76px;
}
.main-container .between {
  height: 40px;
  width: 1px;
  background-color: #99A9B8;
  margin-top: auto;
  margin-bottom: auto;
}
.main-container .field {
  position: relative;
}
.main-container .field label {
  position: absolute;
  top: -26px;
  color: #333B43;
  font-weight: bold;
  font-size: 15px;
  left: 20px;
}
.main-container .field input {
  width: calc(100% - 40px);
  height: 39px;
  margin-top: 5px;
  margin-left: 40px;
  border-right: 1px solid #99A9B8;
  font-size: 17px;
  color: #333B43;
}
.main-container .field input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #99A9B8;
  font-size: 17px;
  opacity: 1;
  /* Firefox */
}
.main-container .field input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #99A9B8;
  font-size: 17px;
}
.main-container .field input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #99A9B8;
  font-size: 17px;
}
.main-container .field select {
  height: 100%;
  border: none;
  width: 100%;
  font-size: 17px;
  padding-left: 16px;
  color: #99A9B8;
}
.main-container .field .from-to {
  color: #0059A7;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 14.5px;
}
.main-container .field img {
  position: absolute;
  right: 25px;
  top: 13px;
}
.main-container .field .truck-icon {
  right: 58px;
  top: 15px;
}
.main-container .field .date {
  border: none;
  margin-left: 18px;
}
.main-container .field .select2-container--default .select2-selection--single {
  border: none;
  background-color: transparent;
  height: 49px;
}
.main-container .field .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #99A9B8;
  font-size: 17px;
  padding-left: 45px;
  line-height: 49px;
}
.main-container .field .select2-container--default .select2-selection--single .select2-selection__arrow {
  border: none;
  background-image: url("assets/arrow icon1.png");
  background-size: contain;
  background-position: center center;
  width: 12px;
  height: 9px;
  top: 20px;
  right: 15px;
}
.main-container .field .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.main-container .field h3 {
  padding-left: 20px;
  line-height: 49px;
  font-size: 17px;
}
.main-container .field .destination h3 {
  text-align: center;
}
.main-container .responsive {
  display: flex;
  width: 66%;
}
.main-container .w-33 {
  width: 33%;
}
.main-container .w-50 {
  width: 50%;
}
.main-container .w-50 .weight {
  margin-left: 18px;
}
.main-container .w-40 {
  width: 40%;
}
.main-container .input-container {
  display: flex;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #0059A761;
  border-radius: 17px;
  height: 49px;
}
.main-container .ui-selectmenu-button.ui-button {
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  padding-left: 20px;
  font-size: 17px;
  width: calc(100% - 20px);
  padding-top: 15px;
  height: calc(100% - 13.5px);
  color: #99A9B8;
}
.main-container .ui-button .ui-icon {
  background-image: url("assets/arrow icon1.png");
  background-size: contain;
  background-position: center center;
  width: 12px;
  height: 9px;
  top: 6px;
  right: 15px;
}
.main-container .truck .ui-button .ui-icon {
  right: 8px;
}
.main-container button {
  color: #FFFFFF;
  font-size: 26px;
  border-radius: 16px;
  background: #0059A7 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #0059a770;
  padding: 5px 67px 10px 67px;
  display: block;
  margin: 0 auto;
}

.result {
  text-align: center;
  margin: 20px;
  color: #424272;
  font-size: 20px;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 12;
  text-align: center;
  line-height: 100vh;
}

.ui-menu {
  border: none;
}
.ui-menu .ui-menu-item {
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #0059A7;
  height: 49px;
}
.ui-menu .ui-menu-item-wrapper {
  height: 100%;
  line-height: 49px;
  padding: 0;
}

.ui-widget.ui-widget-content {
  border: none;
  background-color: #fff;
}

.select2-container--open .select2-dropdown--below {
  border: none;
  border-radius: 0 0 17px 17px;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
footer .each-footer {
  display: inline-block;
  margin: 0 20px;
}
footer .each-footer svg {
  float: left;
  margin-right: 8px;
  height: 25px;
}
footer .each-footer p {
  color: #333B43;
  font-size: 11px;
  font-weight: 100;
  float: left;
  line-height: 25px;
}
footer .each-footer:first-child {
  margin-left: 0;
}
footer .each-footer:last-child {
  margin-right: 0;
}

.land-info {
  display: flex;
  justify-content: space-around;
}

.day {
  background-color: #0059A7;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  position: absolute;
  border-radius: 0px 0px 17px 17px;
  left: calc(50% - 43.5px);
}

@media screen and (max-width: 992px) {
  header .logo img {
    height: 40px;
  }
  header .visible-xs {
    display: block;
  }
  header .nav {
    position: fixed;
    left: -100%;
    overflow: hidden;
    bottom: 0;
    background: #0059A7;
    height: calc(100vh - 100px);
    z-index: 123;
    width: 100vw;
    transition: all 0.3s ease;
    border-radius: 50px 50px 0 0;
  }
  header .nav ul {
    float: none;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .nav ul li {
    float: none;
    display: block;
    margin: 10px;
    border: 0;
  }
  header .nav ul li a {
    color: #fff;
  }
  header .nav ul li a:last-child {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  header .nav ul li img {
    float: none;
    margin: 0;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
  }
  header .nav button {
    margin-left: 20px;
    color: #fff;
  }

  .main-container {
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  .main-container .search {
    margin-top: 75px;
  }
  .main-container .input-container {
    display: block;
    background-color: transparent;
    box-shadow: none;
    height: auto;
  }
  .main-container .land-info {
    display: flex;
    flex-direction: column;
  }
  .main-container .destination {
    display: flex;
  }
  .main-container .w-40 {
    width: 100%;
  }
  .main-container .w-40 .input-container {
    display: flex;
  }
  .main-container .w-40 .input-container .field:nth-child(1) {
    border-radius: 17px 0 0 17px;
  }
  .main-container .w-40 .input-container .field:nth-child(3) {
    border-radius: 0 17px 17px 0;
  }
  .main-container .w-33, .main-container .w-50 {
    width: 100%;
    display: block !important;
  }
  .main-container .field {
    margin: 40px 0;
    background-color: #FFFFFF;
    border-radius: 17px;
    width: 100%;
    box-shadow: 0px 3px 10px #0059A761;
  }
  .main-container .field input {
    border: none;
    width: calc(100% - 60px);
  }
  .main-container .ui-selectmenu-button.ui-button {
    background-color: #fff;
    border-radius: 17px;
    position: unset;
    height: 28px;
  }
  .main-container .calendar {
    width: 50%;
  }
  .main-container .responsive {
    width: 100%;
  }
  .main-container .responsive .field {
    margin: 15px 0;
  }
  .main-container .responsive .field:nth-child(1) {
    border-radius: 17px 0 0 17px;
  }
  .main-container .responsive .field:nth-child(3) {
    border-radius: 0 17px 17px 0;
  }

  footer {
    display: none;
    text-align: left;
  }
  footer .each-footer {
    display: block;
    margin: 10px 0;
  }
  footer .each-footer p {
    float: none;
  }
}

/*# sourceMappingURL=style.css.map */
